

body { color: #ccc }
.footer-widget p {
    margin-bottom: 27px;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

   .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff; }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 

.dk-footer {
	width: 100%;
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 50px; }
    .dk-footer .contact-us.contact-us-last {
      margin-left: -80px; }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#007bff; }

.dk-footer-box-info {
  position: absolute;
  top: -122px;
  background: rgb(49, 49, 49);
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: #007bff; }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff; }
  .dk-footer-form button:hover {
    cursor: pointer; }

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-icon {
  position: absolute; }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff; }

.contact-info {
  margin-left: 75px;
  color: #fff; }
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0; }

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

.back-to-top {
  position: relative;
  z-index: 2; }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #FA6742;
      border-color: #FA6742; }
      
      
      
.company-name {
  font-weight: bold;
  color: white;
  font-size: 25px;
  margin-top: 10px; /* Adjust the margin as needed */
}
     
  /* Credit to https://bootsnipp.com/snippets/ooa9M  */  

/* Styles for the loading screen container */
.loading-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	justify-content: center;
	align-items: center;
	opacity: 1;
	/* Initially visible */
	transition: opacity 2s;
	/* Transition to fade out the loading screen */
	backdrop-filter: blur(10px);
	/* Apply a blur effect to the background content */
	background-color: rgba(255, 255, 255, 0.8);
	/* Background color with transparency */
}

/* Styles for the buffering circle */
.loading-circle {
	width: 100px;
	height: 100px;
	border: 8px solid #3498db;
	border-top: 8px solid transparent;
	border-radius: 50%;
	animation: spin 2s linear infinite, fadeIn 2s ease-in-out forwards;
	margin-right: 20px;
}

/* Styles for the loading text */
.loading-text {
	color: rgb(0, 0, 0);
	font-size: 36px;
	font-weight: bold;
}

/* Styles for the content (initially hidden) */
.content {
	display: none;
	opacity: 0;
	/* Initially invisible */
	transition: opacity 2s;
	/* Transition to fade in the content */
}

/* Add any additional styles for your content here */
.content h1 {
	font-size: 24px;
	color: #333;
	text-align: center;
}

/* When the loading screen fades out, show the content */
.loaded .loading-container {
	opacity: 0;
	/* Make the loading screen invisible */
}

.loaded .content {
	display: block;
	opacity: 1;
	/* Make the content visible */
}

/* Keyframes for the buffering circle spin animation */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Keyframes for fading in the buffering circle */
@keyframes fadeIn {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* ######################################################### */

/* Center the container vertically and horizontally */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	/* Stack elements vertically */
	justify-content: center;
	/* Center vertically */
	align-items: center;
	/* Center horizontally */
	min-height: 100vh;
}






/*####################################*/


#background-video {
	position: fixed;
	right: 0;
	
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	/* Ensure it's in the background */
}

/* Set the background color to black */
body {
	animation: moveBackground 10s linear infinite;
	background: linear-gradient(110deg, rgb(255, 128, 0) 33.33%, #FFFFFF 33.33%, #FFFFFF 55.55%, #138808 22.22%);
	color: #FFFFFF;
	/* Set text color to white for better visibility */
	background-size: 200% 200%;
	top: 0;
	left: 0;
    width: 100%;
    

	/* Double the width and height for smooth diagonal movement */
}

@keyframes moveBackground {
	0% {
		background-position: 0% 100%;
		/* Start from the bottom-left corner */
	}

	100% {
		background-position: 100% 0%;
		/* End at the top-right corner */
	}
}

/* Style the container */
.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0px;

	/* Use a semi-transparent background color */
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
	position: relative;
	/* Add relative positioning for the ellipsis menu */
}

/* Add CSS to style the buttons in green */
.green-button {
	background-color: green;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

/* Style the buttons inside the registrationOptions div */
#registrationOptions button {
	margin: 10px;
}





/* Position the notification button on the right side near the Ellipsis Menu button */
.notification-button i {
	position: absolute;
	top: 20px;
	right: 80px;
	/* Adjust the right value to position it properly */
	background-color: transparent;
	border-radius: 100%;
	cursor: pointer;
	font-size: 30px;
	width: 40px;
	height: 40px;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	/* Adjust the color as needed */
	z-index: 1000;
	/* Increase the z-index value */
}

.notification-button i {
	display: block;
	top: 5px; /* Adjust the top position to your liking */
  right: 15px;
}
.notification-count {
  position: absolute;
  top: -5px; /* Adjust the top position to your liking */
  right: -15px; /* Adjust the right position to your liking */
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 20px;
}




/* Style for the image at the beginning of the webpage */
/* Style for the image at the beginning of the webpage */
.image {
	width: 90%;
	height: 100%;

	/* Make the image 100% of the viewport height */
	object-fit: cover;
	/* Cover the entire viewport */
	object-position: center;
	/* Center the image horizontally */
	animation: moveRightToLeft 10s linear infinite alternate;
}

@keyframes moveRightToLeft {
	10% {
		transform: translateX(10%);
	}

	5% {
		transform: translateX(0%);
	}
}

.images {
	width: 100%;
	height: 50%;

	/* Make the image 100% of the viewport height */
	object-fit: cover;
	/* Cover the entire viewport */
	object-position: center;
	/* Center the image horizontally */
	
}







/*#######################################################################


/*###############*/
/* CSS for the buttons */
.buttons {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 50px;
	display: flex;
	justify-content: space-around;
}

.buttons button {
	background-color: rgb(0, 128, 0);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.buttons button:hover {
	background-color: #333;
}

/* CSS for the centered forms */
.centered-form {
	display: none;
	position: fixed;
	top: 5%;
	bottom: 5%;
	/* Adjust the top position to leave space from the top */
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: white;
	color: black;
	padding: 20px;
	text-align: left;
	border-radius: 5px;
	z-index: 2;
	max-height: 70%;
	/* Adjust the maximum height as needed */
	overflow-y: auto;
	/* Add vertical scroll if content overflows */
}

/* Styling for the overlay close button */
.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	padding: 5px;
	border-radius: 50%;
	color: rgb(0, 0, 0);
}

/* CSS for success message */
.success-message {
	display: none;
	color: green;
	font-weight: bold;
}

/*#######################*/

body {
	font-family: Arial, sans-serif;
	text-align: center;
	margin-top: 10px;
}

/* Positioning for the buttons */
#registration {
	top: 30px;
	/* Adjust the top position as needed */
	left: 50px;
	/* Adjust the left position as needed */
}

.container {
	text-align: center;
}

.centered-form {
	display: none;
}

.centered-form button {
	margin: 50px;
}

.navbar-toggler-icon{
	background-image: var(--bs-navbar-toggler-icon-bg) !important;
}



/*###################################################*/
.image-container {
    position: relative;
    width: 100%;
    margin: 0px ;
}

.images {
    width: 100%;
    
    display: block;
    margin: 0 auto;
}

.circle-overlay {
    position: absolute;
    top: calc(44% + 50px); /* Adjust the value to move the circle below the image */
    left: 51%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 230px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 400px; /* Set line-height equal to the height of the circle */
    font-weight: bold;
    font-size: 20px; /* Adjust the font size for better visibility */
    z-index: 1; /* Ensure it's above the image */
}

.circle-overlay p {
    margin: 70px 0; /* Add margin to move the text downward */
    padding: 10px;
    font-size: 20px;
    color: #333;
}

/* Style the container */
.my-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  margin-top: -40px; /* Add a margin at the top to move it up */
}

/* Style the card */
#AgriConnectProfileForm {

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	padding: 20px;
}

#AgriConnectProfileForm img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 10px;
}

/* Style the image */
.card__image {
	max-width: 100%;
	border-radius: 50%;
}

/* Style the heading */
h1 {
	margin-top: 10px;
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 24px;
	margin: 10px 0;
}

/* Style the paragraph */
p1 {
	margin-top: 10px;
      font-size: 18px;
      color: #ffffff;
      text-align: center;
      font-family: 'Dancing Script', cursive;
}

/* Style the stats */
.card__info {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.card__info__stats {
	font-weight: bold;
	font-size: 18px;
}

/* Style the action buttons */
.card__action__button {
	padding: 10px 20px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Close button styles */
#closeFormButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Dancing Script', cursive;
  border: none;
}

#closeFormButton:hover {
  background-color: #000000;
  color: #ffffff;
}
.card__action--follow {
	background-color: #007bff;
	color: #fff;
}

.card__action--message {
	background-color: #28a745;
	color: #fff;
}

/* Hover effect on buttons */
.card__action__button:hover {
	opacity: 0.8;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Allow vertical scrolling within the modal */
    max-height: 80vh; /* Limit the maximum height of the modal content */
}

.close {
    color: #555;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #333;
}

/* Table styles */
.table {
    width: 100%; /* Adjust the width as needed */
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #f5f5f5;
}

.table tr:hover {
    background-color: #f9f9f9;
}

/* Responsive Styles for Mobile View */
@media (max-width: 767px) {
    .table {
        width: 100%; /* Adjust the width for mobile view */
        overflow-x: auto; /* Enable horizontal scrolling for mobile view */
    }
}
